<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CarsList</title>
</head>
<body>
<div th:if="${count == 0}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carsList}" t>
      <td th:text="${car.model}"/>
      <td th:text="${car.property}"/>
      <td th:text="${car.age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count >= 5}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carsList}" t>
      <td th:text="${car.model}"/>
      <td th:text="${car.property}"/>
      <td th:text="${car.age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count == 1}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${carsList[0].model}"/>
      <td th:text="${carsList[0].property}"/>
      <td th:text="${carsList[0].age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count == 2}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${carsList[0].model}"/>
      <td th:text="${carsList[0].property}"/>
      <td th:text="${carsList[0].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[1].model}"/>
      <td th:text="${carsList[1].property}"/>
      <td th:text="${carsList[1].age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count == 3}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${carsList[0].model}"/>
      <td th:text="${carsList[0].property}"/>
      <td th:text="${carsList[0].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[1].model}"/>
      <td th:text="${carsList[1].property}"/>
      <td th:text="${carsList[1].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[2].model}"/>
      <td th:text="${carsList[2].property}"/>
      <td th:text="${carsList[2].age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count == 4}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${carsList[0].model}"/>
      <td th:text="${carsList[0].property}"/>
      <td th:text="${carsList[0].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[1].model}"/>
      <td th:text="${carsList[1].property}"/>
      <td th:text="${carsList[1].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[2].model}"/>
      <td th:text="${carsList[2].property}"/>
      <td th:text="${carsList[2].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[3].model}"/>
      <td th:text="${carsList[3].property}"/>
      <td th:text="${carsList[3].age}"/>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${count == 4}">
  <table>
    <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">PropertyOf</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${carsList[0].model}"/>
      <td th:text="${carsList[0].property}"/>
      <td th:text="${carsList[0].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[1].model}"/>
      <td th:text="${carsList[1].property}"/>
      <td th:text="${carsList[1].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[2].model}"/>
      <td th:text="${carsList[2].property}"/>
      <td th:text="${carsList[2].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[3].model}"/>
      <td th:text="${carsList[3].property}"/>
      <td th:text="${carsList[3].age}"/>
    </tr>
    <tr>
      <td th:text="${carsList[4].model}"/>
      <td th:text="${carsList[4].property}"/>
      <td th:text="${carsList[4].age}"/>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>